<body>

    <section
        class="container d-flex justify-content-center align-items-center ">
        <div class="links p-5">
            <div>
                <h2>Shop</h2>
                <div class="d-flex">
                    <a href="#">Home</a>
                    <span>></span>
                    <a href="#">Shop</a>
                </div>
            </div>
        </div>
    </section>

    <section class="min-vh-100 mb-5">
        <div class="container mb-5 ">
            <div class="d-flex">
                <div class="aside col-3">
                    <div class="row">
                        <h4>Categories</h4>
                        <ul class="product-ul">
                            <li class="li">Bed</li>
                            <li class="li">Decor</li>
                            <li class="li">Furniture</li>
                            <li class="li">Kitchen</li>
                            <li class="li">Lighting</li>
                            <li class="li">Outdoor</li>
                            <li class="li">Table</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h4>Price</h4>

                        <div class="p-2">
                            <input type="range" min="1" max="100" value="50"
                                id="price_range" />

                        </div>

                        <div class="p-3 d-flex">
                            <p>From: $<span id="price_from">1</span></p>
                            <p>To: $<span id="price_to">100</span></p>
                        </div>

                    </div>

                    <div class="row">
                        <h4>Colors</h4>
                        <div class="colors ">
                            <div class="color"
                                style="background-color: #ffffff;"></div>
                            <div class="color"
                                style="background-color: #E7D3B4;"></div>
                            <div class="color"
                                style="background-color: #292929;"></div>
                            <div class="color"
                                style="background-color: #828282;"></div>
                            <div class="color"
                                style="background-color: #303aff;"></div>
                            <div class="color"
                                style="background-color: #ead118;"></div>

                        </div>
                    </div>

                    <div class="row">
                        <h4>Size</h4>
                        <div class="colors ">
                            <button class="btn size-border ">L</button>
                            <button class="btn size-border ">M</button>
                            <button class="btn size-border ">S</button>
                        </div>
                    </div>

                    <div class="row">
                        <h4>Brands</h4>
                        <div class="wrap-brand ">
                            <button class=" brand-title ">Art Decor</button>
                            <button class=" brand-title ">Art Decor</button>
                            <button class=" brand-title ">Art Decor</button>
                            <button class=" brand-title ">Art Decor</button>
                            <button class=" brand-title ">Art Decor</button>
                            <button class=" brand-title ">Art Decor</button>

                        </div>
                    </div>

                    <div class="row pad-t">
                        <h4>Featured Product</h4>

                        <div class="d-flex f-prod">
                            <div class="cont-img">
                                <img src="/images/banner-8.jpg" alt>
                            </div>
                            <div class="p-l-prod">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>
                        </div>

                        <div class="d-flex f-prod">
                            <div class="cont-img">
                                <img src="/images/banner-8.jpg" alt>
                            </div>
                            <div class="p-l-prod">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>
                        </div>

                        <div class="d-flex f-prod">
                            <div class="cont-img">
                                <img src="/images/banner-8.jpg" alt>
                            </div>
                            <div class="p-l-prod">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>
                        </div>

                        <div class="d-flex f-prod">
                            <div class="cont-img">
                                <img src="/images/banner-8.jpg" alt>
                            </div>
                            <div class="p-l-prod">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="products col-9  min-vh-100">

                    <div class="d-flex justify-content-between">
                        <select class="border-1" name id>
                            <option value>Default Sorting</option>
                            <option value>Sort by Popularity</option>
                            <option value>Sort by Average Rating</option>
                            <option value>Sort by Latest</option>
                        </select>

                        <option value>Display</option>
                    </div>

                    <div class="d-flex flex-wrap mt-2 online-products-ajax">

                        <% if (products && products.length> 0) { %>

                        <% products.forEach((product)=>{ %>

                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="data:<%= product.p_img.contentType %>;base64,<%= product.p_img.data.toString('base64') %>"
                                    alt
                                    onerror="
                                        this.src = '/images/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700'">

                                <!-- <img class="col-11" src="<%= product.p_img.data%>" alt=""> -->
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>
                                    <%=product.p_name%>
                                </h6>
                                <p><strike>
                                        <%= product.p_orig_price.toFixed(2)
                                        %>$
                                    </strike>
                                    <span>
                                        <%= product.p_sale_price.toFixed(2)
                                        %>$
                                    </span>
                                </p>
                            </div>

                        </div>

                        <% }); %>

                        <% } else { %>
                        <p>No products found.</p>
                        <% } %>

                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="/images/product-2-600x655.jpg"
                                    alt>
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>

                        </div>

                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="/images/product-9-1-600x655.jpg"
                                    alt>
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>

                        </div>
                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="/images/product-27-600x655.jpg"
                                    alt>
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>

                        </div>

                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="/images/prduct-18-600x655.jpg"
                                    alt
                                    onerror="
                                this.src = '/images/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700'">
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>

                        </div>

                        <div class="col-3 margin-product">
                            <div>
                                <img class="col-11"
                                    src="/images/product-51-600x655.jpg"
                                    alt>
                            </div>

                            <div class="p-l-prod-disp">
                                <h6>Upholstered Double Bed</h6>
                                <p><strike>200.00$</strike>
                                    <span>116.00$</span></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
