<section>

    <div class="d-flex container-fluid justify-content-center ">
        <div class="d-flex column col-6 container">

            <div class="d-flex row col-3 " style="height: fit-content;">

                <% productSent.images.forEach((src)=> { %>
                <%= console.log(src.url)%>

                <img class="col-10"
                    src='<%= src.url %>'
                    alt
                    style="min-height:10rem"
                    onerror="
                this.src = '/images/banner/banner-9.jpg'">

                <%});%>
            </div>

            <div id="carouselId" class="carousel slide w-100"
                data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <% productSent.images.forEach((_, index) => { %>
                    <li data-bs-target="#carouselId"
                        data-bs-slide-to="<%= index %>"
                        class="<%= index === 0 ? 'active' : '' %>"
                        aria-current="<%= index === 0 ? 'true' : '' %>"
                        aria-label="Slide <%= index + 1 %>"></li>
                    <% }); %>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <% productSent.images.forEach((image, index) => { %>
                    <div
                        class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img class="w-100 d-block"
                            src="<%= image.url %>"
                            alt="Slide <%= index + 1 %>"
                            onerror="this.src = '/images/banner/banner-9.jpg'"
                            style="width: 100%; height: 500px; object-fit: contain;">

                    </div>
                    <% }); %>
                </div>
                <button style="transform: translateY(-25%);"
                    class="carousel-control-prev" type="button"
                    data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button style="transform: translateY(-25%);"
                    class="carousel-control-next" type="button"
                    data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- <div class="d-flex col-8" style="max-height: 30rem;">
                <img class="col-12"
                    src='<%= productSent.images[0]?.url %>'
                    alt
                    onerror="
                this.src = '/images/banner/banner-9.jpg'">
            </div> -->

        </div>

        <div class="d-flex row col-5 p-2">
            <div>
                <h5>
                    <%=productSent.title %>
                </h5>

                <div class="rating" data-rating="<%=productSent.ratings %>">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <div class="d-flex " style="gap: 2px; font-size: 0.9rem;">
                    <p>Brand: </p>
                    <p style="color: rgb(43, 43, 43);"><%=productSent.brand
                        %></p>
                </div>
                <span style="color: rgb(255, 47, 47);">
                    <%= productSent.price.toFixed(2)%>$
                </span>

                <h6>
                    <%=productSent.description %>

                </h6>
                <hr />

                <div class="viewing">
                    <span>&#128065;</span> 35 people are viewing this right now
                </div>
                <p class="description">Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.</p>
                <div class="stock">Only <span><%= productSent.quantity %></span>
                    left in
                    stock!</div>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
                <div class="d-flex "
                    style="gap: 1rem; justify-content: baseline; align-items: baseline;">
                    <div class="quantity-selector">
                        <button class="quantity-btn">-</button>
                        <input type="text" value="1">
                        <button class="quantity-btn">+</button>
                    </div>
                    <button class=" add-to-cart">Add To Cart</button>

                    <button type="submit" id="addToWishListBtn" class=" btn"
                        style="width: 3rem;">
                        <img id="addToWishListBtnImg" style="height: 1.5rem;"
                            src="/images/icon_png/favourite.png" />
                    </button>

                </div>

                <button class="buy-now">Buy Now</button>

                <hr />
                <div class="payment-methods container ">

                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png"
                        alt="Visa" height="10">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                        alt="PayPal" height="10">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                        alt="PayPal" height="10">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                        alt="PayPal" height="10">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                        alt="PayPal" height="10">

                </div>

                <hr />

                <div class="shipping-info">
                    <span>&#128230;</span> Free worldwide shipping on all orders
                    over $100
                </div>
                <div class="delivery-info">
                    <span>&#128339;</span> Delivers in: 3-7 Working Days <a
                        style="text-decoration: none; color: grey;"
                        href="#">Shipping &
                        Return</a>
                </div>

                <form action="/api/user/cart" method="post">

                    <div class=" ">
                        <button type="submit"
                            class="p-2 rounded border-0 bg-black text-white">
                            Add to Cart
                        </button>
                    </div>
                </form>

                <hr />
                <div class="d-flex " style="font-size: 0.9rem; gap: 0.5rem;">
                    <p class style="color: rgb(102, 102, 102);">Categories:</p>
                    <p class="text-dark"><%=productSent.category %></p>
                </div>

                <div class="d-flex " style="font-size: 0.9rem; gap: 0.5rem;">
                    <p class style="color: rgb(102, 102, 102);">Tags:</p>
                    <p class="text-dark"><%=productSent.tags %></p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="container-fluid d-flex justify-content-center align-items-center  "
        style="min-height: 40vh;">

        <div>
            <h3>More Like This</h3>
            <div class="col-4  border d-flex py-2">
                <div
                    class="col-6 d-flex justify-content-center align-center">
                    <% console.log(productSent.images[0]?.url)%>

                    <img class="col-11"
                        src='<%= productSent.images[0]?.url %>'
                        alt
                        onerror="
                this.src = '/images/banner/banner-9.jpg'">

                </div>

                <div class="p-l-prod-disp col-6 ">
                    <h5>
                        <%=productSent.title %>
                    </h5>
                    <h6>
                        <%=productSent.description %>
                    </h6>
                    <p>
                        <span>
                            <%= productSent.price.toFixed(2)
                            %>$
                        </span>

                    </p>
                </div>

            </div>
        </div>
    </div>

</section>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
    const ratingElement = document.querySelector('.rating');
    const ratingValue = ratingElement.getAttribute('data-rating');
    const stars = ratingElement.querySelectorAll('.star');

    stars.forEach(star => {
        if (star.getAttribute('data-value') <= ratingValue) {
            star.classList.add('filled');
        }
    });
});


document.addEventListener('DOMContentLoaded', async (e)=>{
    e.preventDefault();
    const addToWishListBtn = document.getElementById("addToWishListBtn")
    const prodID = "<%= productSent._id%>";

    try {
        const token = localStorage.getItem('token')
            console.log("Token from get wishlist:", token);

        const response = await fetch(`/api/user/wishlist`, {
                method: 'GET',
                headers:{
                    'Authorization': `Bearer ${token}`
                }
            })

            const data = await response.json()

            const isInWishlist = data.wishlist.some(product => product._id === prodID);

            if(isInWishlist) {
               
               addToWishListBtn.classList.add("bg-red");

            }
            else{
                addToWishListBtn.classList.remove("bg-red")

            }

            console.log(isInWishlist)
    } catch (error) {
        console.error(error)
    }

    const button = document.getElementById('addToWishListBtn');

})

document.addEventListener('DOMContentLoaded', async (e) => {
    e.preventDefault();
    const prodID = "<%= productSent._id%>";
    
    const button = document.getElementById('addToWishListBtn');

    button.addEventListener('click', async (event) => {
        event.preventDefault();

        try {
            // const responseToken = await fetch(`http://localhost:5000/api/user/refresh`, { method: 'GET' });
            // if (!responseToken.ok) {
            //     throw new Error('Failed to fetch token');
            // }

            // console.log(responseToken)
            
            // const token = responseToken.headers.get('Authorization');
            const token = localStorage.getItem('token')
            console.log("Token:", token);
            
            const response = await fetch(`http://localhost:5000/api/product/wishlist`, {
                method: 'PUT',
                body: JSON.stringify({ prodId: prodID }),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            });

            if (!response.ok) {
                const errorMessage = await response.json();
                throw new Error(errorMessage.message);
            }

            const updatedUser = await response.json();
            console.log('Updated User:', updatedUser);
        } catch (error) {
            console.error('Error:', error.message);
        }
    });
});



// document.addEventListener('DOMContentLoaded', (e) => {
//     e.preventDefault()
//     const prodID = "<%= productSent._id%>"
    
//     const button = document.getElementById('addToWishListBtn');

//     console.log(prodID)
//     button.addEventListener('click', async (event) => {
//         event.preventDefault();
//         console.log(prodID)

//         // console.log("Token:",token)
//             // const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY2MzI5YjIzMmNmYWY5ODE5OWJjMTgwYSIsImlhdCI6MTcxNTk3MjIzMywiZXhwIjoxNzE2ODM2MjMzfQ.GtVWBSUxRse6jA8ipqp5FuH0xTbdp3NT9AQ0lhwj5iI"

           
//         try {
//             // const token = localStorage.getItem('refreshToken');
//             // const token = getCookie('refreshToken')
          
//             const responseToken = await fetch(`http://localhost:5000/api/user/refresh`, {method: 'GET'})
//             if (!responseToken.ok) {
//         throw new Error('Failed to fetch token');
//     }
    
//         console.log("Token:",responseToken.headers.get('Authorization'))


//     const token = responseToken.headers.get('Authorization')

//     console.log("Token:", token)
//             console.log(prodID)
            
//             const response = await fetch(`http://localhost:5000/api/product/wishlist`, {
//                 method: 'PUT',
//                 body: JSON.stringify({
//                     prodId: prodID
//                 }),
//                 headers: {
//                     'Content-Type': 'application/json',
//                     'Authorization': `Bearer ${token}`
                   
//                 }
//             });

//             if (!response.ok) {
//                 const errorMessage = await response.json();
//                 throw new Error(errorMessage.message);
//             }

           
//             const updatedUser = await response.json();
//             console.log('Updated User:', updatedUser);
           
//         } catch (error) {
//             console.error('Error:', error.message);
           
//         }
//     });
// });


</script>

<style>





.bg-red{
    background-color: red;
}




    .carousel-inner img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                    }
                
                    .carousel-control-prev-icon,
                    .carousel-control-next-icon {
                        background-color: black;
                        background-size: 100%, 100%;
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                    }
    .product-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    
    .carousel-inner img {
            width: 100%;
            height: 500px;
            object-fit: contain;
        }
    
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
            background-size: 100%, 100%;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }
    
        .carousel-control-prev,
        .carousel-control-next {
            filter: invert(100%);
        }
    
    
    
    
    
    
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .rating {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .star {
        font-size: 20px;
        color: #ccc;
    }
    
    .star.filled {
        color: gold;
    }
    
    .price {
        font-size: 24px;
        color: red;
        margin-bottom: 10px;
    }
    
    .viewing {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .viewing span {
        font-size: 18px;
        margin-right: 5px;
    }
    
    .description {
        margin-bottom: 20px;
    }
    
    .stock {
        color: red;
        margin-bottom: 10px;
    }
    
    .stock span {
        font-weight: bold;
    }
    
    .progress-bar {
        background: #f0f0f0;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .progress {
        width: 20%;
        height: 5px;
        background: red;
    }
    
    .quantity-selector {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .quantity-btn {
        background: none;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
        cursor: pointer;
    }
    
    .quantity-btn:focus {
        outline: none;
    }
    
    .quantity-selector input {
        width: 40px;
        height: 30px;
        text-align: center;
        border: 1px solid #ccc;
        margin: 0 10px;
    }
    
    .add-to-cart,
    .buy-now {
        display: block;
        width: 100%;
        padding: 15px;
        text-align: center;
        border: none;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .add-to-cart {
        background: black;
        color: white;
    }
    
    .buy-now {
        background: white;
        color: black;
        border: 1px solid #ccc;
    }
    
    .payment-methods {
        display: flex;
        justify-content: space-around;
        
        margin-bottom: 20px;
    }
    
    .payment-methods img {
        height: 20px !important;
        /* padding: 1rem; */
    }
    
    .shipping-info,
    .delivery-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .shipping-info span,
    .delivery-info span {
        font-size: 18px;
        margin-right: 10px;
    }
    
    .additional-info p {
        margin: 5px 0;
    }
    
    .additional-info a {
        color: black;
        text-decoration: none;
    }
    
    .additional-info a:hover {
        text-decoration: underline;
    }
    
    </style>